.CompareTeams{
    color: white;
}
#mdiv{
    margin: auto;
    
 }
#hh1{
    color: black;
}

.opt{
    color: white;
    background-color: white;
}
.slt{
    margin: auto;
background-color: rgb(60, 70, 77);
width: 350px;
font-size: bold;
}
.bts{
    color: white;
    width: 100px;
    border-radius: 20%;
    font-size: 15px;
}
#td1{
    width:150px
}