#dt{
    margin-top: 1px;
    margin-left: 90px;
    position: relative;;
   
}
th{
    width: 200px;
    height: 30px;
     padding-top: 15px; 
     text-align: center;
    
}
.th1{
    width: 10000px;
}

